.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  color: #ffff;
  gap: 1rem;
  font-family: sans-serif;
  max-width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.home-page .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: sans-serif;
  color: #fff;
  max-width: 100%;
}

.header #appName,
#description {
  text-align: center;
  font-family: sans-serif;
}

.header #appName {
  font-size: 1.7rem;
  font-weight: 600;
}

.header #appDescription {
  font-size: 1rem;
  font-weight: 400;
}

.intro-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 22rem;
  border-radius: 12px;
  width: 100%;
  height: 5rem;
  gap: 0.7rem;
}

.card-icon {
  width: 1.3rem;
  height: auto;
  margin: 0.5rem;
  margin-left: 1rem;
  text-align: center;
}
.card-icon svg {
  fill: #2a1b558f;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 0.2rem;
}

.feature-title {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.808);
  font-weight: 400;
}

.card-description .semi-transparent {
  font-size: 0.8rem;
}

.footer-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  background-color: rgba(34, 30, 138, 0.443);
  border: 0;
  border-radius: 5px;
  max-width: 22rem;
  height: 3rem;
  padding: 0.5rem;
  margin: 0.5rem;
  align-self: center;
  font-size: small;
  color: #ffffff;
  margin-bottom: 1rem;
  cursor: pointer;
}

.footer-btn p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.footer-btn svg {
  width: 1rem;
  fill: #ffffff;
}

/* Location Manager box*/
main .location-manager {
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 20.5rem;
  background-color: rgb(68, 66, 141);
  border: transparent;
  border-radius: 12px 12px 0 0;
}

.location-manager .slide-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 1rem;
}

.slide-header h3 {
  font-size: 0.9rem;
  color: rgba(245, 241, 241, 0.9);
}

.slide-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.slide-header button svg {
  width: 0.9rem;
  height: 0.9rem;
  fill: #d9d5e6c3;
  padding: 0;
}

.location-manager .search-bar {
  position: fixed;
  top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90%;
  margin-top: 2rem;
}

.search-bar input {
  padding: 0.4rem;
  padding-left: 0.8rem;
  width: 100%;
  height: 1.1rem;
}

#searchInput::placeholder {
  color: rgba(245, 241, 241, 0.5);
  font-size: 14px;
}

#searchInput:focus {
  outline: none;
}

/* TODO: fix the background color after autofill */
#searchInput:-webkit-autofill {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.062);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.search-bar button {
  width: 2rem;
  height: 2rem;
  text-align: center;
  padding: 0.25rem;
}

.search-bar button svg {
  color: rgba(245, 241, 241, 0.7);
}

.location-manager #search-done-btn {
  padding: 0.4rem 0;
  width: 90%;
  height: 2rem;
  text-align: center;
  font-size: medium;
  margin-bottom: 1rem;
  cursor: pointer;
  flex-shrink: 0;
}

.slide-up {
  transform: translateY(100%);
  transition: transform 0.2s ease-in;
  height: 60vh;
  width: 100%;
  z-index: 999;
  position: fixed;
  bottom: 0;
}

.slide-up.show {
  transform: translateY(0);
  transition: transform 0.2s ease-out;
}

body.noscroll {
  overflow-y: hidden;
}

.saved-cities {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  overflow-y: auto;
  width: 100%;
  height: 20vh;
  position: fixed;
  top: 7rem;
  overflow-y: auto;
}

.saved-cities::-webkit-scrollbar {
  /* width height */
  width: 12px;
}

.saved-cities::-webkit-scrollbar-thumb {
  /* bg color, border radius, box shadow*/
  background-color: #2a1b558f;
  border-radius: 10px;
}
/*
.saved-cities::-webkit-scrollbar-track {
}
.saved-cities::-webkit-scrollbar-corner {
}
.saved-cities::-webkit-scrollbar-button {
}
*/
.city-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: transparent;
  border-radius: 4px;
  width: 90%;
  min-height: 2.5rem;
}

.city-card .left-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 0.8rem;
  gap: 0.4rem;
}

.city-card .right-side {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 0.8rem;
  gap: 0.8rem;
}

.city-card svg {
  fill: #d9d5e6c3;
  width: 0.7rem;
}

.city-card h5 {
  color: rgba(245, 241, 241, 0.7);
  font-size: 0.9rem;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
}

.city-card .default-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 1rem;
  border: transparent;
  border-radius: 14px;
  color: #ffffffc5;
  background-color: #362b568f;
  font-size: 0.7rem;
  margin-right: 0.5rem;
  text-align: center;
  padding: 0.1rem 0.3rem;
  transition: all 0.5s ease;
}
