.fade-in {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.weather-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100vh;
  position: relative;
}

.weather-page .weather-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #ffff;
}

.weather-page .weather-header #cityDisplay {
  font-size: 2rem;
  font-weight: 500;
}

.weather-page .weather-header #degree {
  font-size: 4rem;
  font-weight: 900;
}

.weather-header #airCondition,
.details {
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3rem;
}

.weather-page .weather-header div {
  text-align: center;
}

.weather-page .weather-header .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Toggle divs */
.forecast-toggle {
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 0.9rem;
}

.toggle-label {
  display: inline-block; /* or block */
  cursor: pointer;
  padding: 5px 10px; /* optional, makes it easier to click */
}

.forecast-toggle #hourlyToggle {
  position: absolute;
  top: 0.6rem;
  z-index: 10;
  left: 2.7rem;
  color: #777777a9;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

.forecast-toggle #dailyToggle {
  position: absolute;
  right: 4rem;
  color: #777777;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

.toggle-switch {
  display: inline-block;
  position: relative;
  position: relative;
  width: 25rem;
  margin: 1rem;
}

.slider {
  display: block;
  width: 25rem;
  height: 1rem;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  padding: 0.1rem;
  height: 1.8rem;
}

.slider::after {
  content: "";
  position: absolute;
  width: 12.5rem;
  height: 1.8rem;
  background-color: white;
  border-radius: 45px;
  transition: transform 0.4s ease;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .slider {
  background-color: rgba(15, 15, 52, 0.534);
}

input[type="checkbox"]:checked + .slider::after {
  transform: translateX(100%);
}

.glass {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.03);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

.semi-transparent {
  color: rgba(245, 241, 241, 0.9);
}

.toggle-options {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 25rem;
  height: 30rem;
  scroll-behavior: auto;
  background: transparent;
}

.toggle-options .hourly-forecast,
.daily-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 25rem;
  gap: 0.5rem;
  height: 30rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 25rem;
  position: absolute;
  top: 0;
  background: inherit;
  padding: 1rem;
}

.toggle-options .hourly-forecast {
  margin: 1rem;
}

.daily-forecast {
  gap: 2rem;
  scrollbar-width: none;
}
.toggle-options .hourly-forecast::-webkit-scrollbar {
  display: none;
}

.hourly-card,
.daily-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25rem;
  position: relative;
}

.daily-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.daily-card .left-info,
.daily-date,
.right-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.daily-card .left-info {
  padding: 2rem 1rem;
}

.daily-date {
  gap: 0.3rem;
  margin-bottom: 0.8rem;
}

.daily-card .date,
.min-temp {
  font-size: 0.8rem;
}

.daily-card .daily-temps {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.8rem;
}

.daily-card .max-temp,
.weekday {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.daily-card .daily-desc {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(245, 241, 241, 0.944);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.daily-card .right-info {
  padding-right: 1rem;
  font-size: 0.9rem;
  color: #67e8f9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
}

.hourly-card {
  margin-bottom: 0.3rem;
}

.toggle-options .hourly-card .hourly-time {
  font-weight: 600;
  font-size: 0.8rem;
}

TODO/*.hourly-card .hourly-icon {
  
}*/

.toggle-options .hourly-card .hourly-temp {
  font-size: 1.1rem;
  font-weight: 600;
}

.toggle-options .hourly-card .hourly-hum {
  font-size: 0.8rem;
  color: #67e8f9;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hourly-hum .reiny-prob {
  font-size: 0.8rem;
  color: #67e8f9;
}

.daily-card .weather-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.weather-info #nameOfDay {
  color: #ffff;
  font-size: 1.5rem;
  font-weight: 600;
}

.daily-card .weather-icon #dailyPop {
  color: #67e8f9;
}

.back-home {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: transparent;
  border: 0;
  width: 2rem;
  height: 2rem;
  margin: 2rem 0;
  margin-top: 6rem;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  pointer-events: auto;
  cursor: pointer;
}

.back-home svg {
  fill: #2a1b558f;
  width: 2rem;
  margin: 1rem 0;
  margin-top: 3rem;
}
